<div class=event id=event<%= event.event_id %>>
    <%= event.event_id %><br>
    <%= event.event_time %>
    <ul class=attendees>
    <% attendees.forEach( at => { %>
        <li><%= at.accountName %></li>
    <% }) %>
    </ul>
    <button class=attend>ATTEND</button>
</div>
