
<div class="ui secondary pointing menu" style="background-color:white">
    <div class="active item">
        <a href="/" style="font-size:20px;color:black;"><i class="spoon icon"></i>ih</a>
    </div>
    <div class="right menu">
	    <div class="item">
	        <a href="/logout" style="color:black;font-size:20px">logout <i class="sign out icon"></i></a>
	    </div>
	</div>
</div>
