
<div class="ui menu">
    <div class="item">
        <div class="link ui button ">
		<a href="">Home</a>
	</div>
    </div>
    <div class="item">
        <div class="link ui button ">
		<a href="/register">Sign Up</a>
	</div>
    </div>
    <div class="item">
        <div class="link ui button ">
            	<a href="/login">Log-in</a>
	</div>
    </div>
</div>

