<!-- views/partials/resultItem.ejs -->
<div class=resultItem data=<%= item %>>
        <%= item.name %><br>
        Rating: <%= item.rating %>
        Price: <%= item.price %>
        <div class=event>View Events</div>
</div>
