<!DOCTYPE html>
<html lang="en">

<head>
    <title>I'm Hungry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <style>
        body {
            background: url(bg.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        } 
        .centered {
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 400px;
            margin-top: 125px;
            background-color: rgba(3,101,100,0.8);
            padding: 100px 100px 100px 100px;
        }
        .logo {
            padding-left: 20px;
            padding-top: 10px;
            font-size: 60px;
            color: white;
        }
    </style>
</head>

<body>
    <span class=logo>ih</span>
    <a href="/about" style="color:white;">about</a>
    <div class=centered>
        <div class='ui huge header' style="color:white;">im hungry</div>
        <form class="ui form" method="POST">
            <div class="field">
                <label style="color:white;">Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label style="color:white;">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>

            <button class="ui red button" type="submit">Login</button>
            <a href="/register" style="color:white;float:right;">Register</a>
        </form>
        <br>
    </div>
</body>
</html>