<head>
<title>I'm Hungry</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<script src="js/accordion.js"></script>
</head>

<body>

<div class='ui center aligned grid'>
    <div class='column four wide'>
        <form class='ui form' action='/results' method='get'><br><br>
            <h2 class='ui dividing header'>You've Been Logged Out!</h2>
            <div class="item">
                <div class="ui button">
                    <a href="/login">...wanna Log Back In?</a></div>
            </div>