<!-- views/pages/results.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>I'm Hungry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <script language='javascript'>

    </script>

    <style>
        .centered {
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 600px;
            margin-top: 10px;
        }
    </style>


</head>
<header>
    <% include ../partials/headerBar.ejs %>
</header>
<body>
    <div class=centered>
    <%if (resultList.length == 0) { %>
        <div class='ui large header'>
            No results.
        </div>
    <% } else {%>
        <br>
        <div class='ui horizontal divider header'>
            Results
        </div>
        <div class="ui special cards">
        <% resultList.forEach( item => { %>
            <%- include('../partials/resultItem', {
                item: item
            }); %>
        <% }) %>
        </div>
   <% } %>
   </div>
</body>
</html>

<script type='text/javascript'>
$(document).ready(function() {
    $('.special.cards .image').dimmer({
      on: 'hover'
    });
});
</script>
